<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Produtos cadastrados</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="lista">
  <ion-list>
    <ion-item *ngFor="let produto of produtos">
      <div></div>
      <span>{{produto.nome}}</span>
      <ion-icon color="danger" name="create" slot="end" [routerLink]="['/produtos/cadastro', produto.id]"></ion-icon>
      <ion-icon color="danger" name="close-circle" slot="end" (click)="confirmarExclusao(produto)"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button color="danger" [routerLink]="['/produtos/cadastro']">
      <ion-icon name="add-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>